---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                        	<p style="font-size:1.2rem;font-weight:250">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1rem;font-weight:250">{{ site.bio }}</p>
			            </a>
                    </h3>
                    {% include social-links.html %}
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/tags/">
                         Posts
                         </a>
                         <a class="btn zoombtn" href="https://npsw.kw.ac.kr/site/portfolio_detail.php?idx=31&department=%EC%BB%B4%ED%93%A8%ED%84%B0%EC%A0%95%EB%B3%B4%EA%B3%B5%ED%95%99%EB%B6%80&scool_year=">
                         Portfolio
                         </a>
                 </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>

<!-- 
                         <a class="btn zoombtn" href="{{ site.url }}/projects">
                         Projects
                         </a> -->
